@model List<Poll>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Title:</strong>                
            </th>               
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           
            <td>
                @item.Title
            </td>
            <td>
                <button>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Poll" asp-action="Start" asp-route-id="@item.ID">Start</a>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>