@model List<QItemAPI.Models.QItem>

<div style="font-family: 'Montserrat', sans-serif" class="container">
	<div class="row">
		<div class="col-sm">
			<table class="table table-borderless col-sm">
				<tr>
					<th>
						<h2>Q Items</h2>
					</th>
				</tr>
				@foreach (var q in Model){
					<tr>
						<td>
							<div class="card mb-3 bg-dark text-light">
								<div class="card-header">
									Q Item:
								</div>
								<div class="card-body">
									<h5>@q.Title</h5>
								</div>
								<div class="card-footer">
									<form class="form" asp-controller="Delete" asp-action="DeleteQItemSolo" method="post">
										<button asp-route-id="@q.ID" asp-controller="Delete" asp-action="DeleteQItemSolo" type="submit" class="btn btn-danger font-weight-bold border-0" style="width: 7rem; height: 3rem; background: #d96363; color: #393939" onclick="return confirm('Are you sure you want to delete Q item: @q.Title')">Delete</button>
									</form>
								</div>
							</div>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>
