@model PItemUseModel

<div class="container" style="font-family: 'Montserrat', sans-serif; padding-left: 0; padding-right: 0">
	<div class="jumbotron bg-dark text-center text-light" style="font-family: 'Montserrat', sans-serif">
		<h1>@Model.Poll.Title</h1>
		<h2>Poll by: @ViewData["userName"]</h2>
	</div>
</div>