<h2>Introduction</h2>
<p>Welcome to Poll Pall™, your one stop spot to create and share polls and questionnaires! We strive to be as easy to use as we can. There is no kattezeik here, everything just works. Press a button to start your poll, add questions and answers and done! </p>
<p>Our powerful technology even allows you to build your own text adventures. Imagine your own universe, write your own story and share it with the world. Hone your writing skills and explore the branching paths your characters can take. Because on a fundamental level we are connected by our stories and yours can make an emotional impacts on the world!</p>
<p>For a step-by-step walkthrough on how to use Poll Pall™ please follow the free tutorial here (LINK). </p>
<h2>Mission</h2>
<p>Now as ever, information makes the world go round! Poll Pall™ strives to become an essential nexus in this flow of information. It doesn’t matter if you start your poll out of personal curiosity or whether you want to conduct serious market research, Poll Pall™ will help you get the information you need. </p>
<p>Furthermore, it is our aim to make the world a more fun place. With our text editor we gave you the reigns to unleash your imagination but we’re not stopping there.  </p>
<h2>About us</h2>
<p>Poll Pall™ was made by the talented people of team (NAME). Brought together in 2001 by Klaas Van Hecke to execute his vision, Team *NAME* has gone on to break new ground at breakneck speed.</p>
<p>We are:</p>
<p><strong>Steve Van De Vyver</strong></p>
<p>*Foto* *uitleg*</p>
<p><strong>Ben Wouters</strong></p>
<p>*Foto* *uitleg*</p>
<p><strong>Paulo Munoz</strong></p>
<p>*Foto* *uitleg*</p>
<p><strong>Klaas Van Hecke</strong></p>
<p>*Foto* *uitleg*</p>
<p><strong>Joachim Swinnens</strong></p>
<p>*Foto* *uitleg*</p>
<h2>Plans for the Future</h2>
<p>Our visions for Poll Pall™ reaches far and wide. We see a myriad of applications for Poll Pall. In the near future we’re focusing our efforts on expanding Poll Pall to revolutionize education. Poll Pall University™ will bring customized learning paths with individualized branching depending on the learning speed and interests of the student. </p>
<p>In short Poll Pall™ will expand and expand until all life on the planet depends on it and we will be the supreme rulers of the universe. I mean, we will continue to find ways to make your life both easier and more exciting without in any way enslaving you to our way of life.  </p>