@model AItemAPI.Models.AItem

<div class="jumbotron">
	<h1>Be Carefull!</h1>
</div>

<form asp-controller="Home" asp-action="ConfirmDelete" method="post">
	<label>@Model.Title</label>
	<br />
	<br />
	<label>Are you sure you want to delete this contact?</label>
	<br />
	<button type="submit" class=" btn btn-danger mr-2" asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@Model.ID">Delete</button>
</form>