<div class="container">
	<div class="jumbotron bg-dark text-center text-light" style="font-family: 'Montserrat', sans-serif">
		<h1>Welkom bij Poll Pall Light</h1>
	</div>
</div>
<div class="container" style="font-family: 'Montserrat', sans-serif">
	<div class="card bg-dark w-50">
		<div class="card-body text-light">
			<h2>Create new poll</h2>
			<p>From here out you can go and create your own polls!</p>
			<a class="alert-link" style="color: #bce26b" asp-controller="Create" asp-action="CreateP">Create new poll</a>
		</div>
	</div>
</div>