<div class="container">
	<div class="jumbotron bg-dark text-center text-light" style="font-family: 'Montserrat', sans-serif">
		<h1>Welcome to TapTru!</h1>
	</div>
</div>
<div class="container" style="font-family: 'Montserrat', sans-serif">
	<div class="card bg-dark w-50">
        <div class="card-body text-light">
            <h2>Welcome</h2>
            <br>
            <br>
            <p>Glad to have you here! Whatever you want to do, TapTru has you covered! </p>
            <ul>
                <li>Take a poll.</li>
                <li>Create a poll.</li>
                <li>You can even make and play your own text adventures.</li>
            </ul>
            <p>Why not take a poll and see how fun it is? <a class="alert-link" style="color: #bce26b" asp-controller="Use" asp-action="Index">Take a new poll</a></p>
            <p>Can't wait to build your polls? <a class="alert-link" style="color: #bce26b" asp-controller="Create" asp-action="Index">Create a new poll</a></p>
            <p>Not sure how to get started? Our <a class="alert-link" style="color: #79a4d7" asp-controller="Home" asp-action="Tutorial">tutorial</a> will tell you everything you need to know to start creating polls in no time!</p>
        </div>
	</div>
</div>