@{
	ViewData["Title"] = "Tap Tru";
}

<div class="bg-dark text-center text-light d-flex justify-content-sm-center align-items-sm-center" style="font-family: 'Montserrat', sans-serif; height: 8rem; margin: 0 5rem 2rem 5rem; border-radius: 0.3rem">
	<h1>Welkom bij Tap Tru !</h1>
</div>

<div class="maincontainer d-flex justify-content-sm-between flex-sm-wrap h-auto" style="font-family: 'Montserrat', sans-serif; padding: 0 5rem">
	<div class="card bg-dark text-center" style="width: 49%; height: 20rem; margin-bottom: 2rem">
		<div class="card-body text-light d-flex flex-sm-column justify-content-sm-around align-items-sm-center">
			<h2>Create new Tap</h2>
			<br>
			<br>
			<p>From here out you can go and create your own Tap's</p>
			<div >
				<ul class="d-flex flex-sm-column justify-content-sm-around align-items-baseline">
					<li>Make your own custom questions or Q's</li>
					<li>Let your aswers or A's decide what Q is up next!</li>
				</ul>
			</div>
			<p>Would you like <a class="alert-link" style="color: #79a4d7" asp-controller="Home" asp-action="About">more info</a>?</p>
			<p>Why don't you <a class="alert-link" style="color: #bce26b" asp-controller="Create" asp-action="Index">Create a new Tap</a></p>
		</div>
	</div>
	<div class="card bg-dark text-center" style="width: 49%; height: 20rem; margin-bottom: 2rem">
		<div class="card-body text-light d-flex flex-sm-column justify-content-sm-around align-items-sm-center">
			<h2>Lorem ipsum dolor</h2>
			<br>
			<br>
			<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
			<ul class="d-flex flex-sm-column justify-content-sm-around align-items-baseline">
			    <li>Excepteur sint occaecat cupidatat</li>
			    <li>Eget magna fermentum iaculis!</li>
			</ul>
			<p>Quam id leo <a class="alert-link" style="color: #79a4d7" asp-controller="Home" asp-action="About">Nullam vehicula</a>?</p>
		</div>
	</div>	
	<div class="card bg-dark text-center" style="width: 100%; height: 40rem; padding: 0 5rem">
		<div class="card-body text-light d-flex flex-sm-column justify-content-sm-around align-items-sm-center">
			<h2>Lorem ipsum dolor</h2>
			<br>
			<br>
			<p>Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis. Lacinia at quis risus sed vulputate odio ut enim. Ac orci phasellus egestas tellus. Nisi lacus sed viverra tellus in hac habitasse. Scelerisque in dictum non consectetur.</p>
			<br>
			<p>Nunc sed id semper risus. Sit amet facilisis magna etiam tempor orci eu lobortis. Rutrum quisque non tellus orci. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Dictum fusce ut placerat orci nulla pellentesque dignissim. Malesuada fames ac turpis egestas integer eget aliquet. Neque convallis a cras semper auctor.</p>
			<p>Nunc sed id semper risus. Sit amet facilisis magna etiam tempor orci eu lobortis. Rutrum quisque non tellus orci. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Dictum fusce ut placerat orci nulla pellentesque dignissim. Malesuada fames ac turpis egestas integer eget aliquet. Neque convallis a cras semper auctor.</p>
			<br>
			<ul class="d-flex flex-sm-column justify-content-sm-around align-items-baseline">
			    <li>Excepteur sint occaecat cupidatat</li>
			    <li>Eget magna fermentum iaculis!</li>
			    <li>Eget magna fermentum iaculis!</li>
			</ul>
			<p>Quam id leo <a class="alert-link" style="color: #79a4d7" asp-controller="Home" asp-action="About">Nullam vehicula</a>?</p>
		</div>
	</div>		
</div>