@model List<AItemAPI.Models.AItem>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
	<thead>
	<tr>
		<th>
			TITLE
		</th>
	</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			foreach (var item in Model)
			{
				<tr>
					<td>
						<p>@item.Title</p>
					</td>	
					<td>
						<a asp-controller="Home" asp-action="Delete" asp-route-id="@item.ID">Delete A</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>


<a asp-controller="Home" asp-action="Create">Create New A</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>