 @{
 	ViewData["Title"] = "Tutorial";
 }
<h2>Learn How to Take and Create Polls!</h2>
<p>*Tutorial under construction*</p>

<h3>The basics</h3>
<h4>Questions and Answers</h4>
<p>Questions and answers form the building blocks of a poll. It is important to think about the questions you want to ask and in which sequence. Each question will have one or more possible answers for the user to select from. </p>
<h4>The flow of your poll</h4>
<p>Besides thinking about which questions to ask, you will also want to think about the flow of your poll. Of course you could make a poll in which every answer just leads to the same follow-up question, but this won't be the case for each poll.</p>
<p>Often you would want to implement a more dynamic flow for your poll in which different answers lead to different sections of your poll. Some answers will make you want to dig deeper, while other answers will make you want to skip these.</p>
<p>For example:<br/>
    Q: Do you own a car?<br />
    A: Yes<br />
    A: No<br />
    Depending on the answer, you will want to lead the user to different questions: Those who own a car you might want to ask about the year and model of the car and how much they use it. Those without a car these follow-up questions are irrelevant, instead you might want to ask about the motivations behind this decision.
    
    </p>
<p>The way TapTru works, it is easiest to first add all the questions to your poll. This way when you start adding your answers, it will be easier to connect them to the relevant follow-up questions.</p>
<h3>A step-by-step guide</h3>
<p>If all this seems a little abstract for now, it will become clearer with a step-by-step example!</p>
<h4>Create a Poll</h4>
<div>
    <p>Screenshot en uitleg</p>
</div>
<h4>The First Question</h4>
<div>
    <p>Screenshot en uitleg</p>
</div>
<h4>The Next Questions</h4>
<div>
    <p>Screenshot en uitleg</p>
    
</div>
<h4>Adding Answers and creating flow</h4>
<div>
    <p>Screenshot en uitleg</p>
</div>
<h4>Ending Poll</h4>
<div>
    <p>Screenshot en uitleg</p>
</div>
